@import '../../../assets/styles/StyleAssets.scss';

.watchlist-btn-wrapper {
    display: flex;

    .watchlist-btn {
        display: flex;
        align-items: center;
        padding: 0px;
        border-radius: 5px;
        @include JustifyCenter();
        cursor: pointer;
        padding: 3px 7px 3px 3px;
        background-color: $accentColor;
        border: 1px solid $accent2Color;

        .watchlist-star-icon-container {
            display: flex;
            .watchlist-star-icon {
                font-size: 16px;
            }
        }

        .watchlist-text {
            font-size: 14px;
            font-weight: 500;
            font-family: $nameAndButtonFont;
        }
    }

    .watchlist-btn:hover {
        transform: scale(1.05);
        transition-duration: 0.2s;
    }
}

.dark {
    .watchlist-btn-wrapper {
        .watchlist-btn {
            background-color: $mainColorDark;
            color: $mainColor;
            border: 1px solid $mainColor;
        }
    }
}
