@import '../../../assets/styles/StyleAssets.scss';

.language-dd-wrapper {
    .language-button-body {
        border: none;
        padding: 0px;
        border-radius: 5px;
        background-color: $accent2Color;
        width: 60px;
        height: 28px;
        @include JustifyCenter();
        cursor: pointer;

        .language-text-container {
            width: 44px;
            height: 28px;
            @include JustifyCenter();

            .language-text {
                font-family: $nameAndButtonFont;
                font-size: 12px;
                font-weight: 500;
                margin: 0px;
            }
        }

        .language-arrow-cointainer {
            width: 16px;
            height: 16px;
            @include JustifyCenter();

            .language-arrow-expand {
                width: 16px;
                height: 16px;
            }
        }
    }

    .language-button-body:hover {
        transform: scale(1.1);
        transition-duration: 0.2s;
    }

    @include smoothOpacity();

    .language-dd-panel-wrapper {
        position: absolute;

        .language-dd-panel-triangle {
            width: 6px;
            height: 6px;
            transform: rotate(45deg);
            background-color: $accent2Color;
            border-left: 1px solid black;
            border-top: 1px solid black;
            position: absolute;
            left: 49px;
            top: 3px;
        }

        .language-dd-panel-container {
            display: flex;
            flex-direction: column;
            border: 1px solid black;
            width: 60px;
            border-radius: 5px;
            margin-top: 6px;
            background-color: $accent2Color;

            .language-dd-panel-tile {
                padding: 5px 0px 5px 0px;

                .language-dd-panel-btn {
                    border: none;
                    background-color: $accent2Color;
                    padding: 0px;
                    width: 100%;
                    cursor: pointer;

                    .language-dd-panel-btn-text {
                        font-family: $nameAndButtonFont;
                        font-size: 12px;
                        font-weight: 500;
                        margin: 0px;
                    }
                }

                .language-dd-panel-btn:hover {
                    .language-dd-panel-btn-text {
                        transform: scale(1.1);
                        transition-duration: 0.2s;
                    }
                }
            }
        }
    }
}

.dark {
    .language-dd-wrapper {
        .language-button-body {
            background-color: $mainColorDark;

            .language-text-container {
                .language-text {
                    color: $mainColor;
                }
            }

            .language-arrow-cointainer {
                .language-arrow-expand {
                    color: $mainColor;
                }
            }
        }
    }

    .language-dd-panel-wrapper {
        .language-dd-panel-triangle {
            background-color: $mainColorDark;
            border-left: 1px solid $mainColor;
            border-top: 1px solid $mainColor;
        }

        .language-dd-panel-container {
            border: 1px solid $mainColor;
            background-color: $mainColorDark;

            .language-dd-panel-tile {
                .language-dd-panel-btn {
                    background-color: $mainColorDark;

                    .language-dd-panel-btn-text {
                        color: $mainColor;
                    }
                }

                .language-dd-panel-btn:hover {
                    .language-dd-panel-btn-text {
                        color: $accentColorDark;
                    }
                }
            }
        }
    }
}
