@import '../../styles/StyleAssets.scss';

.error-animation-wrapper {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .circle,
    .circle-border {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    .circle {
        z-index: 1;
        position: relative;
        background: $mainColor;
        transform: scale(1);
        animation: success-anim 700ms ease;
    }

    .circle-border {
        z-index: 0;
        position: absolute;
        transform: scale(1.1);
        animation: circle-anim 400ms ease;
        background: $redColor;
    }

    @keyframes success-anim {
        0% {
            transform: scale(0);
        }
        30% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }

    @keyframes circle-anim {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1.1);
        }
    }

    .error::before,
    .error::after {
        content: '';
        display: block;
        height: 8px;
        background: $redColor;
        position: absolute;
    }

    .error::before {
        width: 75px;
        top: 48%;
        left: 25%;
        transform: rotateZ(50deg);
    }

    .error::after {
        width: 75px;
        top: 48%;
        left: 25%;
        transform: rotateZ(-50deg);
    }
}

.dark {
    .error-animation-wrapper {
        .circle {
            background: $bg-dark;
        }
    }
}
