@import '../../../assets/styles/StyleAssets.scss';

.category-searchfield-wrapper {
    padding: 5px 0px;

    .category-searchfield {
        width: 90%;
        background-color: $bg-light;
        color: $gray3Color;
        font-family: $contentFont;
        font-size: 14px;
        font-weight: 500;
        border: none;
        padding: 5px 5px 5px 10px;
        outline: none;
        border-radius: 5px;
        text-align: center;
    }

    .category-searchfield:focus {
        outline: 1px solid $mainColorDark;
        color: black;
    }
}

.dark {
    .category-searchfield-wrapper {
        .category-searchfield {
            background-color: $bg-dark;
            color: $gray3Color;
        }

        .category-searchfield:focus {
            outline: 1px solid $mainColor;
            color: $mainColor;
        }
    }
}
