@import '../../../../assets/styles/StyleAssets.scss';

.list-info-wrapper {
    display: flex;
    align-items: center;
    padding: 10px 5px;
    font-family: $contentFont;
    font-size: 16px;
    font-weight: 500;

    border-bottom: 2px solid $bg-light;

    .favourites-space {
        width: 3%;
    }

    .numeration-info {
        width: 4%;
        margin-right: 10px;
    }

    .name-info {
        width: 12%;
        text-align: start;
        padding-right: 7px;
    }

    .price-info {
        width: 10%;
        text-align: end;
        padding-left: 5px;
    }

    .change-percentage-info {
        display: flex;
        width: 30%;

        .change-time-info {
            display: flex;
            width: 25%;
            justify-content: end;
        }
    }

    .market-info-wrapper {
        display: flex;
        width: 25%;
        text-align: end;

        .market-info-item {
            width: 50%;
        }
    }

    .chart-info {
        width: 200px;
        text-align: end;
        position: relative;
        right: 5px;
    }

    // .show-more-space {
    //     width: 2%;
    // }
}

.dark {
    .list-info-wrapper {
        border-bottom: 1px solid $bg-dark;
    }
}

@media screen and (max-width: 1536px) {
    .list-info-wrapper {
        .favourites-space {
            width: 2%;
        }

        .numeration-info {
            width: 3%;
        }

        .name-info {
            width: 12%;
        }

        .price-info {
            width: 10%;
        }

        .change-percentage-info {
            width: 26%;
        }

        .market-info-wrapper {
            width: 25%;
        }
    }
}
