.list-info-wrapper {
  display: flex;
  align-items: center;
  padding: 10px 5px;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: aliceblue !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 2px solid rgb(227, 237, 245);
}
.list-info-wrapper .display-enter {
  opacity: 0;
}
.list-info-wrapper .display-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.list-info-wrapper .display-exit {
  opacity: 1;
}
.list-info-wrapper .display-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
.list-info-wrapper .favourites-space {
  width: 3%;
  display: flex;
  justify-content: center;
}
.list-info-wrapper .favourites-space .info-help-icon {
  font-size: 16px;
  cursor: pointer;
}
.list-info-wrapper .favourites-help-panel {
  position: absolute;
  margin-top: 89px;
}
.list-info-wrapper .favourites-help-panel .favourites-help-panel-triangle {
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  background-color: #f5d418;
  border-left: 1px solid black;
  border-top: 1px solid black;
  position: absolute;
  left: 19px;
  top: 2.5px;
}
.list-info-wrapper .favourites-help-panel .favourites-help-panel-container {
  display: flex;
  flex-direction: column;
  text-align: start;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 6px;
  background-color: #f5d418;
  padding: 5px 5px;
}
.list-info-wrapper .favourites-help-panel .favourites-help-panel-container .favourites-help-panel-text {
  padding: 2px 5px;
  font-size: 14px;
}
.list-info-wrapper .favourites-help-panel-ru {
  margin-top: 90px !important;
}
.list-info-wrapper .favourites-help-panel-ua {
  margin-top: 90px !important;
}
.list-info-wrapper .numeration-info {
  width: 4%;
  margin-right: 10px;
}
.list-info-wrapper .name-info {
  width: 12%;
  text-align: start;
  padding-right: 7px;
}
.list-info-wrapper .price-info {
  width: 10%;
  text-align: end;
  padding-left: 5px;
}
.list-info-wrapper .change-percentage-info {
  display: flex;
  width: 30%;
}
.list-info-wrapper .change-percentage-info .change-time-info {
  display: flex;
  width: 25%;
  justify-content: flex-end;
}
.list-info-wrapper .market-info-wrapper {
  display: flex;
  width: 25%;
  text-align: end;
}
.list-info-wrapper .market-info-wrapper .market-cap-info .market-cap-help-panel {
  position: absolute;
  margin-top: 120px;
}
.list-info-wrapper .market-info-wrapper .market-cap-info .market-cap-help-panel .market-cap-help-panel-triangle {
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  background-color: #f5d418;
  border-left: 1px solid black;
  border-top: 1px solid black;
  position: absolute;
  right: 4px;
  top: 2.5px;
}
.list-info-wrapper .market-info-wrapper .market-cap-info .market-cap-help-panel .market-cap-help-panel-container {
  display: flex;
  flex-direction: column;
  text-align: start;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 6px;
  background-color: #f5d418;
  width: 342px;
  padding: 5px 5px;
}
.list-info-wrapper .market-info-wrapper .market-cap-info .market-cap-help-panel .market-cap-help-panel-container .market-cap-help-panel-text {
  padding: 2px 5px;
  font-size: 14px;
}
.list-info-wrapper .market-info-wrapper .market-cap-info .market-cap-help-panel-ru {
  margin-top: 106px !important;
}
.list-info-wrapper .market-info-wrapper .market-cap-info .market-cap-help-panel-ru .market-cap-help-panel-container {
  width: 505px !important;
}
.list-info-wrapper .market-info-wrapper .market-cap-info .market-cap-help-panel-ua {
  margin-top: 106px !important;
}
.list-info-wrapper .market-info-wrapper .market-cap-info .market-cap-help-panel-ua .market-cap-help-panel-container {
  width: 445px !important;
}
.list-info-wrapper .market-info-wrapper .market-cap-info .market-cap-help-panel-pl .market-cap-help-panel-container {
  width: 401px !important;
}
.list-info-wrapper .market-info-wrapper .volume-24h-info .volume-24h-help-panel {
  position: absolute;
  margin-top: 84px;
}
.list-info-wrapper .market-info-wrapper .volume-24h-info .volume-24h-help-panel .volume-24h-help-panel-triangle {
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  background-color: #f5d418;
  border-left: 1px solid black;
  border-top: 1px solid black;
  position: absolute;
  right: 4px;
  top: 2.5px;
}
.list-info-wrapper .market-info-wrapper .volume-24h-info .volume-24h-help-panel .volume-24h-help-panel-container {
  display: flex;
  flex-direction: column;
  text-align: start;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 6px;
  background-color: #f5d418;
  width: 317px;
  padding: 5px 5px;
}
.list-info-wrapper .market-info-wrapper .volume-24h-info .volume-24h-help-panel .volume-24h-help-panel-container .volume-24h-help-panel-text {
  padding: 2px 5px;
  font-size: 14px;
}
.list-info-wrapper .market-info-wrapper .volume-24h-info .volume-24h-help-panel-ru {
  margin-top: 86px;
}
.list-info-wrapper .market-info-wrapper .volume-24h-info .volume-24h-help-panel-ru .volume-24h-help-panel-container {
  width: 256px !important;
}
.list-info-wrapper .market-info-wrapper .volume-24h-info .volume-24h-help-panel-ua {
  margin-top: 86px;
}
.list-info-wrapper .market-info-wrapper .volume-24h-info .volume-24h-help-panel-ua .volume-24h-help-panel-container {
  width: 309px !important;
}
.list-info-wrapper .market-info-wrapper .volume-24h-info .volume-24h-help-panel-pl {
  margin-top: 100px !important;
}
.list-info-wrapper .market-info-wrapper .volume-24h-info .volume-24h-help-panel-pl .volume-24h-help-panel-container {
  width: 222px !important;
}
.list-info-wrapper .market-info-wrapper .market-info-item {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.list-info-wrapper .market-info-wrapper .market-info-item .info-help-icon {
  font-size: 16px;
  cursor: pointer;
}
.list-info-wrapper .chart-info {
  width: 200px;
  text-align: end;
  position: relative;
  right: 5px;
}

.dark .list-info-wrapper {
  border-bottom: 1px solid #1f212b;
  background-color: #2a2c3b !important;
}
.dark .list-info-wrapper .favourites-help-panel .favourites-help-panel-triangle {
  background-color: #2a2c3b;
  border-left: 1px solid aliceblue;
  border-top: 1px solid aliceblue;
}
.dark .list-info-wrapper .favourites-help-panel .favourites-help-panel-container {
  border: 1px solid aliceblue;
  background-color: #2a2c3b;
}
.dark .list-info-wrapper .market-info-wrapper .market-cap-info .market-cap-help-panel .market-cap-help-panel-triangle {
  background-color: #2a2c3b;
  border-left: 1px solid aliceblue;
  border-top: 1px solid aliceblue;
}
.dark .list-info-wrapper .market-info-wrapper .market-cap-info .market-cap-help-panel .market-cap-help-panel-container {
  border: 1px solid aliceblue;
  background-color: #2a2c3b;
}
.dark .list-info-wrapper .market-info-wrapper .volume-24h-info .volume-24h-help-panel .volume-24h-help-panel-triangle {
  background-color: #2a2c3b;
  border-left: 1px solid aliceblue;
  border-top: 1px solid aliceblue;
}
.dark .list-info-wrapper .market-info-wrapper .volume-24h-info .volume-24h-help-panel .volume-24h-help-panel-container {
  border: 1px solid aliceblue;
  background-color: #2a2c3b;
}

@media screen and (max-width: 1536px) {
  .list-info-wrapper .favourites-help-panel .favourites-help-panel-triangle {
    left: 8px;
  }
  .list-info-wrapper .favourites-space {
    width: 2%;
  }
  .list-info-wrapper .numeration-info {
    width: 3%;
  }
  .list-info-wrapper .name-info {
    width: 12%;
  }
  .list-info-wrapper .price-info {
    width: 10%;
  }
  .list-info-wrapper .change-percentage-info {
    width: 26%;
  }
  .list-info-wrapper .market-info-wrapper {
    width: 26%;
  }
}/*# sourceMappingURL=CryptocurrencyListInfoStyle.css.map */