@import '../../../../assets/styles/StyleAssets.scss';

.list-info-wrapper {
    display: flex;
    align-items: center;
    padding: 10px 5px;
    font-family: $contentFont;
    font-size: 16px;
    font-weight: 500;
    background-color: $mainColor !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid $bg-light;

    @include smoothOpacity();

    .favourites-space {
        width: 3%;
        display: flex;
        justify-content: center;

        .info-help-icon {
            font-size: 16px;
            cursor: pointer;
        }
    }

    .favourites-help-panel {
        position: absolute;
        margin-top: 89px; //100px

        .favourites-help-panel-triangle {
            width: 6px;
            height: 6px;
            transform: rotate(45deg);
            background-color: $accent2Color;
            border-left: 1px solid black;
            border-top: 1px solid black;
            position: absolute;
            left: 19px;
            top: 2.5px;
        }

        .favourites-help-panel-container {
            display: flex;
            flex-direction: column;
            text-align: start;
            border: 1px solid black;
            border-radius: 5px;
            margin-top: 6px;
            background-color: $accent2Color;
            padding: 5px 5px;

            .favourites-help-panel-text {
                padding: 2px 5px;
                font-size: 14px;
            }
        }
    }

    .favourites-help-panel-ru {
        margin-top: 90px !important;
    }

    .favourites-help-panel-ua {
        margin-top: 90px !important;
    }

    .numeration-info {
        width: 4%;
        margin-right: 10px;
    }

    .name-info {
        width: 12%;
        text-align: start;
        padding-right: 7px;
    }

    .price-info {
        width: 10%;
        text-align: end;
        padding-left: 5px;
    }

    .change-percentage-info {
        display: flex;
        width: 30%;

        .change-time-info {
            display: flex;
            width: 25%;
            justify-content: end;
        }
    }

    .market-info-wrapper {
        display: flex;
        width: 25%;
        text-align: end;

        .market-cap-info {
            .market-cap-help-panel {
                position: absolute;
                margin-top: 120px; //132px

                .market-cap-help-panel-triangle {
                    width: 6px;
                    height: 6px;
                    transform: rotate(45deg);
                    background-color: $accent2Color;
                    border-left: 1px solid black;
                    border-top: 1px solid black;
                    position: absolute;
                    right: 4px;
                    top: 2.5px;
                }

                .market-cap-help-panel-container {
                    display: flex;
                    flex-direction: column;
                    text-align: start;
                    border: 1px solid black;
                    border-radius: 5px;
                    margin-top: 6px;
                    background-color: $accent2Color;
                    width: 342px;
                    padding: 5px 5px;

                    .market-cap-help-panel-text {
                        padding: 2px 5px;
                        font-size: 14px;
                    }
                }
            }

            .market-cap-help-panel-ru {
                margin-top: 106px !important; //116px
                .market-cap-help-panel-container {
                    width: 505px !important;
                }
            }

            .market-cap-help-panel-ua {
                margin-top: 106px !important; //116px
                .market-cap-help-panel-container {
                    width: 445px !important;
                }
            }

            .market-cap-help-panel-pl {
                .market-cap-help-panel-container {
                    width: 401px !important;
                }
            }
        }

        .volume-24h-info {
            .volume-24h-help-panel {
                position: absolute;
                margin-top: 84px; //96px

                .volume-24h-help-panel-triangle {
                    width: 6px;
                    height: 6px;
                    transform: rotate(45deg);
                    background-color: $accent2Color;
                    border-left: 1px solid black;
                    border-top: 1px solid black;
                    position: absolute;
                    right: 4px;
                    top: 2.5px;
                }

                .volume-24h-help-panel-container {
                    display: flex;
                    flex-direction: column;
                    text-align: start;
                    border: 1px solid black;
                    border-radius: 5px;
                    margin-top: 6px;
                    background-color: $accent2Color;
                    width: 317px;
                    padding: 5px 5px;

                    .volume-24h-help-panel-text {
                        padding: 2px 5px;
                        font-size: 14px;
                    }
                }
            }

            .volume-24h-help-panel-ru {
                margin-top: 86px; //96px
                .volume-24h-help-panel-container {
                    width: 256px !important;
                }
            }

            .volume-24h-help-panel-ua {
                margin-top: 86px; //96px
                .volume-24h-help-panel-container {
                    width: 309px !important;
                }
            }

            .volume-24h-help-panel-pl {
                margin-top: 100px !important; //112px
                .volume-24h-help-panel-container {
                    width: 222px !important;
                }
            }
        }

        .market-info-item {
            width: 50%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .info-help-icon {
                font-size: 16px;
                cursor: pointer;
            }
        }
    }

    .chart-info {
        width: 200px;
        text-align: end;
        position: relative;
        right: 5px;
    }
}

.dark {
    .list-info-wrapper {
        border-bottom: 1px solid $bg-dark;
        background-color: $mainColorDark !important;

        .favourites-help-panel {
            .favourites-help-panel-triangle {
                background-color: $mainColorDark;
                border-left: 1px solid $mainColor;
                border-top: 1px solid $mainColor;
            }

            .favourites-help-panel-container {
                border: 1px solid $mainColor;
                background-color: $mainColorDark;
            }
        }

        .market-info-wrapper {
            .market-cap-info {
                .market-cap-help-panel {
                    .market-cap-help-panel-triangle {
                        background-color: $mainColorDark;
                        border-left: 1px solid $mainColor;
                        border-top: 1px solid $mainColor;
                    }

                    .market-cap-help-panel-container {
                        border: 1px solid $mainColor;
                        background-color: $mainColorDark;
                    }
                }
            }

            .volume-24h-info {
                .volume-24h-help-panel {
                    .volume-24h-help-panel-triangle {
                        background-color: $mainColorDark;
                        border-left: 1px solid $mainColor;
                        border-top: 1px solid $mainColor;
                    }

                    .volume-24h-help-panel-container {
                        border: 1px solid $mainColor;
                        background-color: $mainColorDark;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1536px) {
    .list-info-wrapper {
        .favourites-help-panel {
            .favourites-help-panel-triangle {
                left: 8px;
            }
        }

        .favourites-space {
            width: 2%;
        }

        .numeration-info {
            width: 3%;
        }

        .name-info {
            width: 12%;
        }

        .price-info {
            width: 10%;
        }

        .change-percentage-info {
            width: 26%;
        }

        .market-info-wrapper {
            width: 26%;
        }
    }
}
