@import '../../../assets/styles/StyleAssets.scss';

.category-dd-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .category-dd-btn {
        display: flex;
        border: none;
        background-color: $accent2Color;
        padding: 0px;
        border-radius: 5px;
        @include JustifyCenter();
        cursor: pointer;
        // height: 24px;
        padding: 3px 5px;
        font-size: 14px;
        font-weight: 500;
        font-family: $nameAndButtonFont;

        .category-dd-arrow {
            font-size: 16px;
        }
    }

    .category-dd-btn:hover {
        color: $accentColor;
        transform: scale(1.05);
        transition-duration: 0.2s;
    }

    @include smoothOpacity();

    .category-dd-panel-wrapper {
        z-index: 150;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 27px;

        .category-dd-panel-triangle {
            width: 6px;
            height: 6px;
            transform: rotate(45deg);
            background-color: $accent2Color;
            border-left: 1px solid black;
            border-top: 1px solid black;
            position: absolute;
            top: 2px;
        }

        .category-dd-panel-container {
            display: flex;
            flex-direction: column;
            border: 1px solid black;
            padding: 0px 5px;
            border-radius: 5px;
            margin-top: 6px;
            background-color: $accent2Color;
            max-height: 200px;
            overflow-y: scroll;
            overflow-x: hidden;

            .category-dd-panel-tile {
                padding: 5px;

                .category-dd-panel-btn {
                    border: none;
                    background-color: $accent2Color;
                    padding: 0px;
                    width: 100%;
                    cursor: pointer;

                    .category-dd-panel-btn-text {
                        font-family: $nameAndButtonFont;
                        font-size: 14px;
                        font-weight: 500;
                        margin: 0px;
                    }
                }

                .category-dd-panel-btn:hover {
                    .category-dd-panel-btn-text {
                        color: $accentColor;
                        transform: scale(1.1);
                        transition-duration: 0.2s;
                    }
                }
            }
        }
    }
}

.dark {
    .category-dd-wrapper {
        .category-dd-btn {
            background-color: $mainColorDark;
            color: $mainColor;
            border: 1px solid $mainColor;
        }

        .category-dd-panel-wrapper {
            .category-dd-panel-triangle {
                background-color: $mainColorDark;
                border-left: 1px solid $mainColor;
                border-top: 1px solid $mainColor;
            }

            .category-dd-panel-container {
                border: 1px solid $mainColor;
                background-color: $mainColorDark;

                .category-dd-panel-tile {
                    .category-dd-panel-btn {
                        background-color: $mainColorDark;

                        .category-dd-panel-btn-text {
                            color: $mainColor;
                        }
                    }

                    .category-dd-panel-btn:hover {
                        .category-dd-panel-btn-text {
                            color: $accentColorDark;
                        }
                    }
                }
            }
        }
    }
}
