@import '../../../assets/styles/StyleAssets.scss';

.filters-wrapper {
    display: flex;
    padding: 0px 5px;
    font-family: $contentFont;
    font-size: 16px;
    font-weight: 500;

    .filter-watchlist {
        display: flex;

        .watchlist-star-icon-container {
            .watchlist-star-icon {
                font-size: 16px;
            }
        }
    }

    .filter-show-rows-wrapper {
        display: flex;

        .show-rows-dd-wrapper {
            display: flex;

            .show-rows-dd-icon-container {
                .show-rows-dd-icon {
                    font-size: 16px;
                }
            }
        }
    }
}
