@import '../../../assets/styles/StyleAssets.scss';

.filters-wrapper {
    display: flex;
    padding: 0px 5px;
    font-family: $nameAndButtonFont;
    font-size: 14px;
    font-weight: 500;
    justify-content: space-between;
    align-items: center;

    .filters-right-panel {
        display: flex;

        .right-panel-item {
            margin-left: 10px;
        }
    }
}
