@import '../../assets/styles/StyleAssets.scss';

.cryptocurrency-page-wrapper {
    display: flex;
    flex-direction: column;

    .slider-wrapper {
        background-color: $mainColor;
        width: 100%;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;

        .currency-slider-container {
            height: 160px;
            width: 96%;

            .slick-prev:before,
            .slick-next:before {
                color: $mainColorDark !important;
            }
        }
    }

    .content-wrapper {
        margin-top: 40px;
        background-color: $mainColor;
        border-radius: 10px;
    }
}

.dark {
    .cryptocurrency-page-wrapper {
        .slider-wrapper {
            background-color: $mainColorDark;
            .currency-slider-container {
                .slick-prev:before,
                .slick-next:before {
                    color: $mainColor !important;
                }
            }
        }

        .content-wrapper {
            background-color: $mainColorDark;
        }
    }
}

@media screen and (max-width: 1720px) {
    .cryptocurrency-page-wrapper {
        .slider-wrapper {
            .currency-slider-container {
                width: 95%;
            }
        }
    }
}

@media screen and (max-width: 1536px) {
    .cryptocurrency-page-wrapper {
        .slider-wrapper {
            .currency-slider-container {
                width: 95%;
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .cryptocurrency-page-wrapper {
        .slider-wrapper {
            .currency-slider-container {
                width: 94%;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .cryptocurrency-page-wrapper {
        .slider-wrapper {
            .currency-slider-container {
                width: 86%;
            }
        }
    }
}
