@import '../../assets/styles/StyleAssets.scss';

.cryptocurrency-page-wrapper {
    display: flex;
    flex-direction: column;

    .slider-wrapper {
        background-color: $mainColor;
        width: 100%;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;

        .currency-slider-container {
            height: 160px;
            width: 95.2%;

            .slick-prev:before,
            .slick-next:before {
                color: $mainColorDark !important;
            }
        }
    }

    .list-filters-wrapper {
        margin-top: 40px;
        background-color: $mainColor;
        border-radius: 10px;
        // padding: 5px 0px;
    }

    .content-wrapper {
        margin-top: 20px;
        background-color: $mainColor;
        border-radius: 10px;

        .cryptocurrency-list-info-container {
            z-index: 100;
            position: sticky;
            top: 0px;
        }
    }
}

.dark {
    .cryptocurrency-page-wrapper {
        .slider-wrapper {
            background-color: $mainColorDark;
            .currency-slider-container {
                .slick-prev:before,
                .slick-next:before {
                    color: $mainColor !important;
                }
            }
        }

        .list-filters-wrapper {
            background-color: $mainColorDark;
        }

        .content-wrapper {
            background-color: $mainColorDark;
        }
    }
}

@media screen and (max-width: 1536px) {
    .cryptocurrency-page-wrapper {
        .slider-wrapper {
            .currency-slider-container {
                width: 93.6%;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .cryptocurrency-page-wrapper {
        .slider-wrapper {
            .currency-slider-container {
                width: 86%;
            }
        }
    }
}
