.chart-type-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.chart-type-wrapper .chart-type-btn-wrapper {
  display: flex;
  align-items: center;
}
.chart-type-wrapper .chart-type-btn-wrapper .chart-type-text {
  margin-right: 5px;
}
.chart-type-wrapper .chart-type-btn-wrapper .chart-type-dd-wrapper {
  display: flex;
  border: none;
  background-color: #f5d418;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 3px 0px;
  width: 40px;
}
.chart-type-wrapper .chart-type-btn-wrapper .chart-type-dd-wrapper .chart-type-dd-icon-container {
  display: flex;
}
.chart-type-wrapper .chart-type-btn-wrapper .chart-type-dd-wrapper .chart-type-dd-icon-container .chart-type-dd-icon {
  font-size: 16px;
}
.chart-type-wrapper .chart-type-btn-wrapper .chart-type-dd-wrapper .chart-type-dd-arrow-container {
  display: flex;
}
.chart-type-wrapper .chart-type-btn-wrapper .chart-type-dd-wrapper .chart-type-dd-arrow-container .chart-type-dd-arrow {
  font-size: 16px;
}
.chart-type-wrapper .chart-type-btn-wrapper .chart-type-dd-wrapper:hover {
  color: #1058f5;
  transform: scale(1.05);
  transition-duration: 0.2s;
}
.chart-type-wrapper .display-enter {
  opacity: 0;
}
.chart-type-wrapper .display-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.chart-type-wrapper .display-exit {
  opacity: 1;
}
.chart-type-wrapper .display-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
.chart-type-wrapper .chart-type-dd-panel-wrapper {
  z-index: 150;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 27px;
}
.chart-type-wrapper .chart-type-dd-panel-wrapper .chart-type-dd-panel-triangle {
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  background-color: #f5d418;
  border-left: 1px solid black;
  border-top: 1px solid black;
  position: absolute;
  top: 2px;
}
.chart-type-wrapper .chart-type-dd-panel-wrapper .chart-type-dd-panel-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 6px;
  background-color: #f5d418;
}
.chart-type-wrapper .chart-type-dd-panel-wrapper .chart-type-dd-panel-container .chart-type-dd-panel-tile {
  padding: 5px 0px;
  width: 40px;
}
.chart-type-wrapper .chart-type-dd-panel-wrapper .chart-type-dd-panel-container .chart-type-dd-panel-tile .chart-type-dd-panel-btn {
  border: none;
  background-color: #f5d418;
  padding: 0px;
  width: 100%;
  cursor: pointer;
}
.chart-type-wrapper .chart-type-dd-panel-wrapper .chart-type-dd-panel-container .chart-type-dd-panel-tile .chart-type-dd-panel-btn .chart-type-dd-panel-btn-icon {
  display: flex;
  justify-content: center;
}
.chart-type-wrapper .chart-type-dd-panel-wrapper .chart-type-dd-panel-container .chart-type-dd-panel-tile .chart-type-dd-panel-btn .chart-type-dd-panel-btn-icon .chart-type-dd-icon {
  font-size: 16px;
}
.chart-type-wrapper .chart-type-dd-panel-wrapper .chart-type-dd-panel-container .chart-type-dd-panel-tile .chart-type-dd-panel-btn:hover .chart-type-dd-panel-btn-icon .chart-type-dd-icon {
  color: #1058f5;
  transform: scale(1.1);
  transition-duration: 0.2s;
}

.dark .chart-type-wrapper .chart-type-btn-wrapper .chart-type-dd-wrapper {
  border: 1px solid aliceblue;
  background-color: #2a2c3b;
  color: aliceblue;
}
.dark .chart-type-wrapper .chart-type-dd-panel-wrapper .chart-type-dd-panel-triangle {
  background-color: #2a2c3b;
  border-left: 1px solid aliceblue;
  border-top: 1px solid aliceblue;
}
.dark .chart-type-wrapper .chart-type-dd-panel-wrapper .chart-type-dd-panel-container {
  border: 1px solid aliceblue;
  background-color: #2a2c3b;
}
.dark .chart-type-wrapper .chart-type-dd-panel-wrapper .chart-type-dd-panel-container .chart-type-dd-panel-tile .chart-type-dd-panel-btn {
  background-color: #2a2c3b;
}
.dark .chart-type-wrapper .chart-type-dd-panel-wrapper .chart-type-dd-panel-container .chart-type-dd-panel-tile .chart-type-dd-panel-btn .chart-type-dd-panel-btn-icon .chart-type-dd-icon {
  color: aliceblue;
}
.dark .chart-type-wrapper .chart-type-dd-panel-wrapper .chart-type-dd-panel-container .chart-type-dd-panel-tile .chart-type-dd-panel-btn:hover .chart-type-dd-panel-btn-icon .chart-type-dd-icon {
  color: #e26411;
}/*# sourceMappingURL=ChartTypeDropDownStyle.css.map */