@import '../../../assets/styles/StyleAssets.scss';

.chart-type-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .chart-type-btn-wrapper {
        display: flex;
        align-items: center;

        .chart-type-text {
            margin-right: 5px;
        }

        .chart-type-dd-wrapper {
            display: flex;
            background-color: $accentColor;
            border: 1px solid $accent2Color;
            border-radius: 5px;
            @include JustifyCenter();
            cursor: pointer;
            padding: 3px 0px;
            width: 40px;

            .chart-type-dd-icon-container {
                display: flex;
                .chart-type-dd-icon {
                    font-size: 16px;
                }
            }

            .chart-type-dd-arrow-container {
                display: flex;
                .chart-type-dd-arrow {
                    font-size: 16px;
                }
            }
        }

        .chart-type-dd-wrapper:hover {
            transform: scale(1.05);
            transition-duration: 0.2s;
        }
    }

    @include smoothOpacity();

    .chart-type-dd-panel-wrapper {
        z-index: 150;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 27px;

        .chart-type-dd-panel-triangle {
            width: 6px;
            height: 6px;
            transform: rotate(45deg);
            background-color: $accentColor;
            border-left: 1px solid $accent2Color;
            border-top: 1px solid $accent2Color;
            position: absolute;
            top: 2px;
        }

        .chart-type-dd-panel-container {
            display: flex;
            flex-direction: column;
            border: 1px solid $accent2Color;
            border-radius: 5px;
            margin-top: 6px;
            background-color: $accentColor;

            .chart-type-dd-panel-tile {
                width: 40px;
                border-radius: 5px;
                border: 1px solid $accentColor;

                .chart-type-dd-panel-btn {
                    border: none;
                    background-color: $accentColor;
                    padding: 0px;
                    width: 100%;
                    cursor: pointer;

                    .chart-type-dd-panel-btn-icon {
                        display: flex;
                        justify-content: center;

                        .chart-type-dd-icon {
                            font-size: 16px;
                        }
                    }
                }

                .chart-type-dd-panel-btn:hover {
                    .chart-type-dd-panel-btn-icon {
                        .chart-type-dd-icon {
                            transform: scale(1.1);
                            transition-duration: 0.2s;
                        }
                    }
                }
            }
        }
    }
}

.dark {
    .chart-type-wrapper {
        .chart-type-btn-wrapper {
            .chart-type-dd-wrapper {
                border: 1px solid $mainColor;
                background-color: $mainColorDark;
                color: $mainColor;
            }
        }

        .chart-type-dd-panel-wrapper {
            .chart-type-dd-panel-triangle {
                background-color: $mainColorDark;
                border-left: 1px solid $mainColor;
                border-top: 1px solid $mainColor;
            }

            .chart-type-dd-panel-container {
                border: 1px solid $mainColor;
                background-color: $mainColorDark;

                .chart-type-dd-panel-tile {
                    border-radius: 5px;
                    border: 1px solid $mainColorDark;
                    .chart-type-dd-panel-btn {
                        background-color: $mainColorDark;

                        .chart-type-dd-panel-btn-icon {
                            .chart-type-dd-icon {
                                color: $mainColor;
                            }
                        }
                    }

                    .chart-type-dd-panel-btn:hover {
                        .chart-type-dd-panel-btn-icon {
                            .chart-type-dd-icon {
                                color: $accentColorDark;
                            }
                        }
                    }
                }
            }
        }
    }
}
