.currency-dd-wrapper .currency-button-body {
  border: none;
  padding: 0px;
  border-radius: 5px;
  background-color: #3f79f6;
  width: 60px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.currency-dd-wrapper .currency-button-body .currency-text-container {
  width: 44px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.currency-dd-wrapper .currency-button-body .currency-text-container .currency-text {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin: 0px;
}
.currency-dd-wrapper .currency-button-body .currency-arrow-cointainer {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.currency-dd-wrapper .currency-button-body .currency-arrow-cointainer .currency-arrow-expand {
  width: 16px;
  height: 16px;
}
.currency-dd-wrapper .currency-button-body:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
}
.currency-dd-wrapper .display-enter {
  opacity: 0;
}
.currency-dd-wrapper .display-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.currency-dd-wrapper .display-exit {
  opacity: 1;
}
.currency-dd-wrapper .display-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
.currency-dd-wrapper .currency-dd-panel-wrapper {
  position: absolute;
}
.currency-dd-wrapper .currency-dd-panel-wrapper .currency-dd-panel-triangle {
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  background-color: #3f79f6;
  border-left: 1px solid black;
  border-top: 1px solid black;
  position: absolute;
  left: 49px;
  top: 3px;
}
.currency-dd-wrapper .currency-dd-panel-wrapper .currency-dd-panel-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 60px;
  border-radius: 5px;
  margin-top: 6px;
  background-color: #3f79f6;
}
.currency-dd-wrapper .currency-dd-panel-wrapper .currency-dd-panel-container .currency-dd-panel-tile {
  padding: 5px 0px 5px 0px;
}
.currency-dd-wrapper .currency-dd-panel-wrapper .currency-dd-panel-container .currency-dd-panel-tile .currency-dd-panel-btn {
  border: none;
  background-color: #3f79f6;
  padding: 0px;
  width: 100%;
  cursor: pointer;
}
.currency-dd-wrapper .currency-dd-panel-wrapper .currency-dd-panel-container .currency-dd-panel-tile .currency-dd-panel-btn .currency-dd-panel-btn-text {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin: 0px;
}
.currency-dd-wrapper .currency-dd-panel-wrapper .currency-dd-panel-container .currency-dd-panel-tile .currency-dd-panel-btn:hover .currency-dd-panel-btn-text {
  transform: scale(1.1);
  transition-duration: 0.2s;
}

.dark .currency-dd-wrapper .currency-button-body {
  background-color: #2a2c3b;
}
.dark .currency-dd-wrapper .currency-button-body .currency-text-container .currency-text {
  color: aliceblue;
}
.dark .currency-dd-wrapper .currency-button-body .currency-arrow-cointainer .currency-arrow-expand {
  color: aliceblue;
}
.dark .currency-dd-panel-wrapper .currency-dd-panel-triangle {
  background-color: #2a2c3b;
  border-left: 1px solid aliceblue;
  border-top: 1px solid aliceblue;
}
.dark .currency-dd-panel-wrapper .currency-dd-panel-container {
  border: 1px solid aliceblue;
  background-color: #2a2c3b;
}
.dark .currency-dd-panel-wrapper .currency-dd-panel-container .currency-dd-panel-tile .currency-dd-panel-btn {
  background-color: #2a2c3b;
}
.dark .currency-dd-panel-wrapper .currency-dd-panel-container .currency-dd-panel-tile .currency-dd-panel-btn .currency-dd-panel-btn-text {
  color: aliceblue;
}
.dark .currency-dd-panel-wrapper .currency-dd-panel-container .currency-dd-panel-tile .currency-dd-panel-btn:hover .currency-dd-panel-btn-text {
  color: #e26411;
}/*# sourceMappingURL=CurrencyDropDownStyle.css.map */