.cryptocurrency-list-card-wrapper {
  display: flex;
  align-items: center;
  padding: 0px 5px;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgb(227, 237, 245);
}
.cryptocurrency-list-card-wrapper .star-container {
  width: 3%;
  cursor: pointer;
}
.cryptocurrency-list-card-wrapper .star-container:hover {
  opacity: 0.95;
  transform: scale(1.1);
  transition-duration: 0.2s;
}
.cryptocurrency-list-card-wrapper .error-info-panel {
  z-index: 101;
  position: absolute;
  margin-bottom: 70px;
}
.cryptocurrency-list-card-wrapper .error-info-panel .error-info-panel-container {
  display: flex;
  flex-direction: column;
  text-align: start;
  border: 1px solid #fb3131;
  border-radius: 5px;
  background-color: #3f79f6;
  padding: 5px 5px;
  font-size: 14px;
}
.cryptocurrency-list-card-wrapper .error-info-panel .error-info-panel-triangle {
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  background-color: #3f79f6;
  border-right: 1px solid #fb3131;
  border-bottom: 1px solid #fb3131;
  position: absolute;
  left: 20px;
  bottom: -3px;
}
.cryptocurrency-list-card-wrapper .numeration-container {
  width: 4%;
  margin-right: 10px;
}
.cryptocurrency-list-card-wrapper .name-wrapper {
  display: flex;
  width: 12%;
  padding-right: 7px;
}
.cryptocurrency-list-card-wrapper .name-wrapper .icon-container {
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cryptocurrency-list-card-wrapper .name-wrapper .icon-container .cryptocurrency-icon {
  width: 20px;
}
.cryptocurrency-list-card-wrapper .name-wrapper .name-text {
  margin-right: 5px;
}
.cryptocurrency-list-card-wrapper .name-wrapper .symbol-text {
  color: #8e8e8e;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cryptocurrency-list-card-wrapper .current-price {
  width: 10%;
  padding-left: 5px;
  text-align: end;
}
.cryptocurrency-list-card-wrapper .price-change-percentage-wrapper {
  display: flex;
  width: 30%;
}
.cryptocurrency-list-card-wrapper .price-change-percentage-wrapper .price-change-container {
  display: flex;
  width: 25%;
  justify-content: flex-end;
}
.cryptocurrency-list-card-wrapper .price-change-percentage-wrapper .price-change-container .rising-arrow-container .rising-arrow {
  font-size: 16px;
}
.cryptocurrency-list-card-wrapper .price-change-percentage-wrapper .price-change-container .rising-arrow-container .fall {
  color: #fb3131;
}
.cryptocurrency-list-card-wrapper .price-change-percentage-wrapper .price-change-container .rising-arrow-container .rise {
  color: #0d9b44;
}
.cryptocurrency-list-card-wrapper .price-change-percentage-wrapper .price-change-container .value-rise {
  color: #0d9b44;
}
.cryptocurrency-list-card-wrapper .price-change-percentage-wrapper .price-change-container .value-fall {
  color: #fb3131;
}
.cryptocurrency-list-card-wrapper .market-info-wrapper {
  display: flex;
  width: 25%;
  text-align: end;
}
.cryptocurrency-list-card-wrapper .market-info-wrapper .market-info-item {
  width: 50%;
}
.cryptocurrency-list-card-wrapper .chart-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cryptocurrency-list-card-wrapper .chart-container .chart {
  min-height: 80px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cryptocurrency-list-card-wrapper .more-icon-container {
  cursor: pointer;
}
.cryptocurrency-list-card-wrapper .more-icon-container:hover {
  opacity: 0.95;
  transform: scale(1.1);
  transition-duration: 0.2s;
}

.dark .cryptocurrency-list-card-wrapper {
  border-bottom: 1px solid #1f212b;
}
.dark .error-info-panel .error-info-panel-container {
  background-color: #2a2c3b;
}
.dark .error-info-panel .error-info-panel-triangle {
  background-color: #2a2c3b;
}

@media screen and (max-width: 1720px) {
  .cryptocurrency-list-card-wrapper .error-info-panel .error-info-panel-triangle {
    left: 17px;
  }
}
@media screen and (max-width: 1536px) {
  .cryptocurrency-list-card-wrapper .star-container {
    width: 2%;
  }
  .cryptocurrency-list-card-wrapper .error-info-panel .error-info-panel-triangle {
    left: 9px;
  }
  .cryptocurrency-list-card-wrapper .numeration-container {
    width: 3%;
  }
  .cryptocurrency-list-card-wrapper .name-wrapper {
    width: 12%;
  }
  .cryptocurrency-list-card-wrapper .current-price {
    width: 10%;
  }
  .cryptocurrency-list-card-wrapper .price-change-percentage-wrapper {
    width: 26%;
  }
  .cryptocurrency-list-card-wrapper .market-info-wrapper {
    width: 26%;
  }
}/*# sourceMappingURL=CryptocurrencyListCardStyle.css.map */