@import '../../../../assets/styles/StyleAssets.scss';

.cryptocurrency-list-card-wrapper {
    display: flex;
    align-items: center;
    padding: 0px 5px;
    font-family: $contentFont;
    font-size: 16px;
    font-weight: 500;

    border-bottom: 2px solid $bg-light;

    .star-container {
        width: 3%;
        cursor: pointer;

        &:hover {
            opacity: 0.95;
            transform: scale(1.1);
            transition-duration: 0.2s;
        }
    }

    .error-info-panel {
        z-index: 101;
        position: absolute;
        margin-bottom: 70px; //100px

        .error-info-panel-container {
            display: flex;
            flex-direction: column;
            text-align: start;
            border: 1px solid $redColor;
            border-radius: 5px;
            background-color: $accent2Color;
            padding: 5px 5px;
            font-size: 14px;
        }

        .error-info-panel-triangle {
            width: 6px;
            height: 6px;
            transform: rotate(45deg);
            background-color: $accent2Color;
            border-right: 1px solid $redColor;
            border-bottom: 1px solid $redColor;
            position: absolute;
            left: 20px;
            bottom: -3px;
        }
    }

    .numeration-container {
        width: 4%;
        margin-right: 10px;
    }

    .name-wrapper {
        display: flex;
        width: 12%;
        padding-right: 7px;

        .icon-container {
            padding-right: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .cryptocurrency-icon {
                width: 20px;
            }
        }

        .name-text {
            margin-right: 5px;
        }

        .symbol-text {
            color: $gray2Color;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    .current-price {
        width: 10%;
        padding-left: 5px;
        text-align: end;
    }

    .price-change-percentage-wrapper {
        display: flex;
        width: 30%;

        .price-change-container {
            display: flex;
            width: 25%;
            justify-content: flex-end;

            .rising-arrow-container {
                .rising-arrow {
                    font-size: 16px;
                }

                .fall {
                    color: $redColor;
                }

                .rise {
                    color: $greenColor;
                }
            }

            .value-rise {
                color: $greenColor;
            }

            .value-fall {
                color: $redColor;
            }
        }
    }

    .market-info-wrapper {
        display: flex;
        width: 25%;
        text-align: end;

        .market-info-item {
            width: 50%;
        }
    }

    .chart-container {
        .chart {
            min-height: 80px !important;
        }
    }

    .more-icon-container {
        cursor: pointer;

        &:hover {
            opacity: 0.95;
            transform: scale(1.1);
            transition-duration: 0.2s;
        }
    }
}

.dark {
    .cryptocurrency-list-card-wrapper {
        border-bottom: 1px solid $bg-dark;
    }

    .error-info-panel {
        .error-info-panel-container {
            background-color: $mainColorDark;
        }
        .error-info-panel-triangle {
            background-color: $mainColorDark;
        }
    }
}

@media screen and (max-width: 1720px) {
    .cryptocurrency-list-card-wrapper {
        .error-info-panel {
            .error-info-panel-triangle {
                left: 17px;
            }
        }
    }
}

@media screen and (max-width: 1536px) {
    .cryptocurrency-list-card-wrapper {
        .star-container {
            width: 2%;
        }

        .error-info-panel {
            .error-info-panel-triangle {
                left: 9px;
            }
        }

        .numeration-container {
            width: 3%;
        }

        .name-wrapper {
            width: 12%; //15%
        }

        .current-price {
            width: 10%;
        }

        .price-change-percentage-wrapper {
            width: 26%;
        }

        .market-info-wrapper {
            width: 26%;
        }
    }
}
