@import '../../../assets/styles/StyleAssets.scss';

.cryptocurrency-list-card-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
    font-family: $contentFont;
    font-size: 16px;
    font-weight: 500;

    .name-wrapper {
        display: flex;

        .icon-container {
            .cryptocurrency-icon {
                width: 20px;
            }
        }
    }

    .price-change-percentage-wrapper {
        display: flex;

        .price-change-container {
            display: flex;

            .rising-arrow-container {
                .rising-arrow {
                    font-size: 16px;
                }

                .fall {
                    color: $redColor;
                }

                .rise {
                    color: $greenColor;
                }
            }

            .value-rise {
                color: $greenColor;
            }

            .value-fall {
                color: $redColor;
            }
        }
    }

    .market-info-wrapper {
        display: flex;
    }
}
