@import '../../../assets/styles/StyleAssets.scss';

.currency-card-body {
    width: 355px;
    height: 160px;
    border: 2px solid $accentColor;
    border-radius: 10px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: $bg-light;

    .card-top-container {
        display: flex;

        .card-chart-container {
            width: 220px;
            height: 92px;
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .card-bottom-container {
        display: flex;
    }

    .currency-info-container {
        border-bottom: 1px solid $accentColor;
        width: 105px;
        height: 40px;
        display: flex;
        align-items: center; //maybe flex-end???
        justify-content: space-between;
        margin-top: 10px;
        margin-left: 10px;

        .currency-info {
            margin: 0px !important;
            font-family: $contentFont;
            font-size: 16px;
            font-weight: 500;
        }

        .percentage-static-label {
            display: flex;
            justify-content: flex-start;

            .static-label {
                margin: 0px !important;
                font-family: $contentFont;
                font-size: 16px;
                font-weight: 500;
            }
        }

        .percentage-dinamic-info {
            display: flex;
            justify-content: flex-end;

            .icon-up {
                font-size: 16px;
                color: $greenColor;
            }
            .icon-down {
                font-size: 16px;
                color: $redColor;
            }

            .dinamic-info {
                margin: 0px !important;
                font-family: $contentFont;
                font-size: 16px;
                font-weight: 500;
            }

            .raise-up {
                color: $greenColor;
            }

            .fall-dawn {
                color: $redColor;
            }
        }
    }
}

.dark {
    .currency-card-body {
        border-color: $accentColorDark;
        background-color: $bg-dark;

        .currency-info-container {
            color: $mainColor;
            border-bottom: 1px solid $accentColorDark;
        }
    }
}

@media screen and (min-width: 2550px) {
    .currency-card-body {
        margin-left: 32px;
        margin-right: 32px;
    }
}

@media screen and (max-width: 1884px) {
    .currency-card-body {
        margin-left: 3px;
        margin-right: 4px;
    }
}

@media screen and (max-width: 1720px) {
    .currency-card-body {
        margin-left: 41px;
        margin-right: 34px;
    }
}

@media screen and (max-width: 1536px) {
    .currency-card-body {
        margin-left: 7px;
        margin-right: 6px;
    }
}

@media screen and (max-width: 1440px) {
    .currency-card-body {
        margin-left: 76px;
        margin-right: 76px;
    }
}

@media screen and (max-width: 1366px) {
    .currency-card-body {
        margin-left: 58px;
        margin-right: 58px;
    }
}

@media screen and (max-width: 1280px) {
    .currency-card-body {
        margin-left: 38px;
        margin-right: 37px;
    }
}

@media screen and (max-width: 1024px) {
    .currency-card-body {
        margin-left: 113px;
    }
}
